[Unit]
Description=Keywork Wayland compositor
BindsTo=graphical-session.target
Before=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

Wants=keywork-session.target
Before=keywork-session.target

Wants=xdg-desktop-autostart.target
Before=xdg-desktop-autostart.target

[Service]
Slice=session.slice
Type=notify
ExecSearchPath=%h/.local/bin:/usr/local/bin:/usr/bin
ExecStart=keywork_compositor
Environment=KEYWORK_OUTPUT=drm
Environment=KEYWORK_RENDERER=vulkan
Environment=KEYWORK_SYSTEMD_SESSION=1
Environment=XDG_CURRENT_DESKTOP=keywork
Environment=XDG_SESSION_DESKTOP=keywork
Environment=XDG_SESSION_TYPE=wayland
